{CSSTemplate {
  $classpath : "game.ShogunStyle"
}}

  {macro main()}

  {var width=60/}
  {var tile=(width*.85)/}

.board {
  background:grey;
  width:${width*9.08}px;
}

.square {
  width:${width}px;
  height:${width}px;
  border:1px solid #000;
  float:left;
  margin:${width/20}px;
}

.highlight{
  background:yellow !important;
  cursor:pointer;
}
.selected{
  background:#000 !important;
}
.clear {
  clear:both;
}

.pawn {
  cursor:pointer;
}

.footer {
  width:${width*9}px;
}

.tile {
  width:${tile}px;
  height:${tile}px;
  margin:${tile/10}px;
  background:grey;
  text-align:center;
  line-height:${tile}px;
  font-size:${tile/20}em;
}

.red {
  background:red;
}

.blue {
  background:#1a61a9;
  color:#fff;
}
.odd {
  background:#eee;
}

.right {
  float:right;
}

  {/macro}

{/CSSTemplate}