{CSSTemplate {
  $classpath : "game.ShogunStyle"
}}

  {macro main()}

.content {
	 margin-left:5%;
	 max-width:500px;
	 width:90%;
}

.board {
 background:none;
 border:1px solid #000;
}

.highlight{
  background:yellow !important;
  cursor:pointer;
}
.selected{
  background:#000 !important;
}
.clear {
  clear:both;
}

.pawn {
  cursor:pointer;
}
.square-box{
    position: relative;
    width:12.5%;
    overflow: hidden;
    float:left;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 140%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 90%;
   height: 90%;
   margin-left:5%;
   margin-top:5%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.square-content.blue span  {
  color:#1a61a9;
}

.square-content.green span {
  color:green;
}

.odd {
  background:#F7F7F7;
}

.right {
  float:right;
}

.score{
  text-transform:uppercase;
}

.kingmove {
position: absolute;
font-size: 1em;
margin-left: 10px;
margin-top: 3px;
}

  {/macro}

{/CSSTemplate}