{CSSTemplate {
   $classpath: "game.css.MediaStyle"
}}

{macro main()}

.logo{
display: block;
margin-left: auto;
margin-right: auto;
}
.content {
  margin-left: 5%;
  width: 90%;
}

.square-box {
  position: relative;
  width: 12.5%;
  overflow: hidden;
  float: left;
}

.square-box:before {
  content: "";
  display: block;
}

{call mediaOriented(true,true)/}
{call mediaOriented(false,true)/}
{call mediaOriented(true,false)/}
{call mediaOriented(false,false)/}

{/macro}

{macro mediaOriented(vertical,big)}

{var paddingBefore=140/}
{var paddingBeforeRotated=80/}

{if big}
  {var sizeCondition="min-device-width:800px"/}
  {var maxWidth=500/}
	{var maxWidthRotated=800/}
	{var widthLogo=80/}
	{var widthLogoRotated=50/}
{else/}
  {var sizeCondition="max-device-width:800px"/}
  {var maxWidth=300/}
	{var maxWidthRotated=350/}
	{var widthLogo=50/}
	{var widthLogoRotated=30/}
{/if}

{if vertical}
  {var orientation = ".rotated"/}
  {var otherOrientation = ""/}
  {var query = "portrait"/}
{else/}
  {var orientation = ""/}
  {var otherOrientation = ".rotated"/}
  {var query = "landscape"/}
{/if}

@media (orientation:${query}) and (${sizeCondition}) {
  .content${otherOrientation} {
    max-width: ${maxWidth}px;
  }
  .content${orientation}{
    max-width: ${maxWidthRotated}px;
  }
  .square-box${otherOrientation}:before {
    padding-top: ${paddingBefore}%;
  }
  .square-box:before${orientation}{
    padding-top:${paddingBeforeRotated}%;
  }
  .logo${otherOrientation}{
  width:${widthLogo}%;
  }
  .logo${orientation}{
  width:${widthLogoRotated}%;
  }
}

{/macro}

{/CSSTemplate}